{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/images/icons/favicon.png' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
<!--===============================================================================================-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

<style>
	body {
		height: 100%;
		overflow-x: hidden;
 }

 a {
	text-decoration: none;
}

</style>
</head>
<body class="animsition">
	
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar"> 
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						{% if user.is_authenticated %}
						<a href="{% url 'profile' %}" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>
						<a href=" {% url 'logout' %}" class="flex-c-m trans-04 p-lr-25">
							logout
						</a>
						{% else %}
						<a href="{% url 'signup' %}" class="flex-c-m trans-04 p-lr-25">
							Signup
						</a>

						<a href=" {% url 'signin' %}" class="flex-c-m trans-04 p-lr-25">
							Login
						</a>
						{% endif %}

						{% comment %} <a href="#" class="flex-c-m trans-04 p-lr-25">
							USD
						</a> {% endcomment %}
					</div> 
				</div>
			</div>

			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="{% static '/images/icons/logo-01.png' %}" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="{% url 'home' %}">Home</a>
								
							</li>

							<li class="active-menu">
								<a href="{% url 'productlist' %}">Products</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Deals</a>
							</li>

							<li>
								<a href="blog.html">Blog</a>
							</li>

							<li>
								<a href="about.html">About</a>
							</li>

							<li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<a href="{% url 'cart' %}"  class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart" >
							<i class="zmdi zmdi-shopping-cart"></i>
						</a>

						<a href="{% url 'wishlistview' %}" class="icon-header-item cl2 trans-04 p-l-22 p-r-11 " >
							{% comment %}  icon-header-noti {% endcomment %}
							<i class="zmdi zmdi-favorite-outline"></i></a>
					</div>
				</nav>
			</div>	
		</div>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="{% static '/images/icons/logo-01.png' %}" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" >
					{% comment %} data-notify="2" {% endcomment %}
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="wishlist" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" >
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							logout
						</a>

						
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href=" {% url 'home' %}">Home</a>
				
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href=" {% url 'productlist' %}">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>

		<!-- Modal Search -->
		<div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
			<div class="container-search-header">
				<button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
					<img src="{% static '/images/icons/icon-close2.png' %}" alt="CLOSE">
				</button>

				<form class="wrap-search-header flex-w p-l-15">
					<button class="flex-c-m trans-04">
						<i class="zmdi zmdi-search"></i>
					</button>
					<input class="plh3" type="text" name="search" placeholder="Search...">
				</form>
			</div>
		</div>
	</header>



	
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>

					{% comment %} <button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
						Women
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						Men
					</button> {% endcomment %}
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						<li class="p-b-6">
							{% comment %} <a href="#" class="filter-link stext-106 trans-04"> {% endcomment %}
								Popularity
							</a>
						</li>
					</button>
					
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
					<li class=" p-b-6" onclick="filterNew('new_arrivals')" style="cursor: pointer;">
						New Arrivals
				</li>
				</button>
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						<li class="p-b-6" onclick="sorting('high_to_low')" style="cursor: pointer;">
							
							Price:High to Low
					 
				 </li>
					</button>

					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="">
						<li class="p-b-6" onclick="sorting('low_to_high')" style="cursor: pointer;">
							

							Low to High
						
					</li>

					</button>

				
				</div>
				
			
					
				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						{% comment %} <i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i> {% endcomment %}
						{% comment %} <i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-open dis-none"></i> {% endcomment %}
	
				
						 Filter
					</div>

					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				

				<!-- Search product -->
				<form action="{% url 'productlist' %}" method="get" id="search-form">
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text"  name='search' placeholder="Search">
					</div>	
				</div>
				</form>
				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Filter By Brand
							</div>
							
                
							{% for brand in brands %}
							<div class="form-check">
									<input class="form-check-input" type="checkbox" name="brand" value="{{ brand.name }}" id="brand{{ forloop.counter }}" onchange="brand(this, '{{ brand.name }}')" {% if brand.name in brand_filter %}checked{% endif %}>
									<label class="form-check-label" for="brand{{ forloop.counter }}">{{ brand.name }}</label>
							</div>
							{% endfor %}
							
        </div>
    

							{% comment %} <form method="get">
								
								<div class="custom-control custom-checkbox" style="display: block; margin-bottom: 10px;">
										<input type="checkbox" class="custom-control-input" id="brand_{{ brand.id }}" name="brand" value="{{ brand.id }}">
										<label class="custom-control-label" for="brand_{{ brand.id }}">{{ brand.name }}</label>
								</div>
								
								
						</form> {% endcomment %}
						

						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
									Price
							</div>
							<ul>
									<div class="form-check">
											{% for price_range in price_ranges %}
													<input class="form-check-input price-checkbox" type="checkbox" value="{{ price_range.value }}" id="price{{ forloop.counter }}" name="price_range" data-min="{{ price_range.min }}" data-max="{{ price_range.max }} onchange="price(this, '{{ brand.name }}')" {% if brand.name in brand_filter %}checked{% endif %}">
													<label class="form-check-label" for="price{{ forloop.counter }}">
															₹ {{ price_range.min }} - ₹ {{ price_range.max }}
													</label>
													<br>
											{% endfor %}
									</div>
							</ul>
					</div>
					

						<div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>

								
							
								{% for color in colors %}
								<div class="form-check">
									<input class="form-check-input" type="checkbox"  name='color' value="{{ color.title }}" id="color{{forloop.counter}}"onchange="color(this, '{{ color.title }}')" {% if color.title in color_filter %}checked{% endif %}>
									<label class="form-check-label" for="color{{forloop.counter}}">
										{{ color.title }}
									</label>
								</div>
								{% endfor %}
							
						</div>

					
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="row">
					
						{% for variant in page %}
								{% comment %} {% if product.variants.all %} {% endcomment %}
										<div class="col-sm-6 col-md-4 col-lg-3 mb-4">
												<!-- Block2 -->
												<div class="block2">
														<div class="block2-pic hov-img0 border">
																<a href="{% url 'productdetail' pk=variant.pk %}">
																		<img src="{{ variant.mainimage.url }}" alt="IMG-PRODUCT">
																</a>
														</div>
														<div class="block2-txt flex-w flex-t p-t-14">
															{% if variant.product.average_rating %}
																		
																		<span class="text-secondary h6" id="ratings1" ><i class="bi bi-star-fill text-warning"></i></span>Rating({{ variant.product.average_rating}})
																		{%else%}
																		<span class="text-secondary h4" id="ratings1" ><i class="bi bi-star-fill"></i></span>Be the first
																		{% endif %}
																<div class="block2-txt-child1 flex-col-l">
																		<a href="{% url 'productdetail' pk=variant.pk %}" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
																				{{ variant.product.name }}
																		</a>
																		
																		<span class="stext-105 cl3">
																			{{ variant.product.brand }}
																	</span>
																	<span class="stext-105 cl2">
																		{{ variant.selling_price }}
																		&nbsp;
																		<span class="cl3 text-decoration-line-through mr-3">
																				{{ variant.original_price }}
																		</span>
																		<span class="mtext-80 text-success  ">
																			60% off 
																		</span>
																</span>
																<span class="stext-40 cl3">
																	Free Delivery
															</span>
																</div>
																<div class="block2-txt-child2 flex-r p-t-3">
																		<a href="{% url 'wishlist' pk=variant.id %}" class="text-danger">
																				<i class="bi bi-heart{% if variant.is_in_wishlist %}-fill{% endif %}"></i>
																		</a>
																</div>
														</div>
												</div>
										</div>
								{% comment %} {% endif %} {% endcomment %}
						{% endfor %}
				</div>
		</div>
		
			
			<!-- pagination -->
			<nav aria-label="Page navigation example">
				<ul class="pagination justify-content-center">
					<li class="page-link" style="cursor: pointer;" {% if page.has_previous %} onclick="pagination('{{ page.previous_page_number }}')"{% endif %}>&laquo;</li>
					{% for num in page.paginator.page_range %}
						<li class="page-link {% if num == page.number %}active{% endif %}" style="cursor: pointer;" onclick="pagination('{{ num }}')">
						{{ num }}</li>
					{% endfor %}
					<li class="page-link" style="cursor: pointer;" {% if page.has_next %} onclick="pagination('{{ page.next_page_number }}')" {% endif %}>&raquo;</li>    
				</ul>
			</nav>
		
		

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								kids
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="timebeat@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-02.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-03.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-04.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-05.png' %}" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>


							<!--  -->
							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		let currentUrl = new URL(window.location.href);
  	let urlparams = new URLSearchParams(currentUrl.search);
    {% comment %} {% for brand in brands %}
    const checkbox{{ forloop.counter }} = document.getElementById('brand{{ forloop.counter }}');
    checkbox{{ forloop.counter }}.checked = urlparams.has('brand_items') && urlparams.getAll('brand_items').includes('{{ brand.name }}');
    {% endfor %} {% endcomment %}

    function brand(checkbox, brandname) {
        const urlParams = new URLSearchParams(window.location.search);

        if (checkbox.checked) {
            // If the checkbox is checked, add the brandname to the URL
            urlParams.append('brand_items', brandname);
        } else {
            // If the checkbox is unchecked, remove the brandname from the URL
            const brandItems = urlParams.getAll('brand_items');
            const updatedBrandItems = brandItems.filter(param => param !== brandname);
            urlParams.delete('brand_items');
            updatedBrandItems.forEach(param => urlParams.append('brand_items', param));
        }

        const currentUrl = new URL(window.location.href);
        currentUrl.search = urlParams.toString();

        window.location.href = currentUrl.toString();
    }

		{% comment %} {% for color in colors %}
    	const checkbox{{ forloop.counter }} = document.getElementById('color{{ forloop.counter }}');
    	checkbox{{ forloop.counter }}.checked = urlparams.has('color_items') && urlparams.getAll('color_items').includes('{{ color.title }}');
		{% endfor %} {% endcomment %}

		function color(checkbox, colortitle) {
    	const urlParams = new URLSearchParams(window.location.search);

    if (checkbox.checked) {
        
        urlParams.append('color_items', colortitle);
    	} else {
        
        const colorItems = urlParams.getAll('color_items');
        const updatedColorItems = colorItems.filter(param => param !== colortitle);
        urlParams.delete('color_items');
        updatedColorItems.forEach(param => urlParams.append('color_items', param));
    	}

    const currentUrl = new URL(window.location.href);
    currentUrl.search = urlParams.toString();

    window.location.href = currentUrl.toString();
}
function price(checkbox) {
	const urlParams = new URLSearchParams(window.location.search);

	// Check if the checkbox is checked
	if (checkbox.checked) {
			const minPrice = checkbox.getAttribute('data-min');
			const maxPrice = checkbox.getAttribute('data-max');

			urlParams.set('min_price', minPrice);
			urlParams.set('max_price', maxPrice);
	} else {
			urlParams.delete('min_price');
			urlParams.delete('max_price');
	}

	// Construct the new URL
	const currentUrl = new URL(window.location.href);
	currentUrl.search = urlParams.toString();

	// Redirect to the updated URL
	window.location.href = currentUrl.toString();
}



function pagination(page_number){
	urlparams.set('page', page_number);
	currentUrl.search = urlparams.toString();
	window.location.href = currentUrl.toString();
}

function sorting(sortby) {
	urlparams.set('page', 1);
	urlparams.set('sort', sortby);
	currentUrl.search = urlparams.toString();
	window.location.href = currentUrl.toString();
}
function filterNew(newarrivals) {
	var urlparams = new URLSearchParams(window.location.search);
	urlparams.set('new', newarrivals);
	
	// Get the current URL and append the updated query parameters
	var currentUrl = new URL(window.location.href);
	currentUrl.search = urlparams.toString();
	
	// Redirect to the updated URL
	window.location.href = currentUrl.toString();
}

</script>

<!--===============================================================================================-->	
	<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/slick/slick.min.js' %}"></script>
	<script src="{% static '/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static '/images/product-04.jpg' %}"></script>
<!--===============================================================================================-->
	{% comment %} <script src="{% static '/vendor/sweetalert/sweetalert.min.js' %}"></script>
	<script>
		$('.js-addwish-b2, .js-addwish-detail').on('click', function(e){
			e.preventDefault();
		});

		$('.js-addwish-b2').each(function(){
			var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-b2');
				$(this).off('click');
			});
		});

		$('.js-addwish-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

			$(this).on('click', function(){
				swal(nameProduct, "is added to wishlist !", "success");

				$(this).addClass('js-addedwish-detail');
				$(this).off('click');
			});
		}); {% endcomment %}

		
{% comment %} <script>
		$('.js-addcart-detail').each(function(){
			var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
			$(this).on('click', function(){
				swal(nameProduct, "is added to cart !", "success");
			});
		});
	
	</script> {% endcomment %}
<!--===============================================================================================-->
	<script src="{% static '/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
	
<!--===============================================================================================-->
	<script src="{% static '/js/main.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script>
	let currentUrl = new URL(window.location.href);
  let urlparams = new URLSearchParams(currentUrl.search);
	function sorting(sortby) {
    //urlparams.set('page', 1);
    urlparams.set('sort', sortby);
    currentUrl.search = urlparams.toString();
    window.location.href = currentUrl.toString();
  }
</script>
</body>
</html>