{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Product</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static '/images/icons/favicon.png' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/fonts/linearicons-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/slick/slick.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/MagnificPopup/magnific-popup.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/vendor/perfect-scrollbar/perfect-scrollbar.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static '/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}">
<!--===============================================================================================-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<style>
	body {
		height: 100%;
		overflow-x: hidden;
 }
 a {
	text-decoration: none;
}
</style>
</head>
<body class="animsition">
	
	<!-- Header -->
	<header class="header-v4">
		<!-- Header desktop -->
		<div class="container-menu-desktop">
			<!-- Topbar -->
			<div class="top-bar"> 
				<div class="content-topbar flex-sb-m h-full container">
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>

					<div class="right-top-bar flex-w h-full">
						{% if user.is_authenticated %}
						<a href="{% url 'profile' %}" class="flex-c-m trans-04 p-lr-25">
							My Account
						</a>
						<a href=" {% url 'logout' %}" class="flex-c-m trans-04 p-lr-25">
							logout
						</a>
						{% else %}
						<a href="{% url 'signup' %}" class="flex-c-m trans-04 p-lr-25">
							Signup
						</a>

						<a href=" {% url 'signin' %}" class="flex-c-m trans-04 p-lr-25">
							Login
						</a>
						{% endif %}

					
					</div> 
				</div>
			</div>

			<div class="wrap-menu-desktop how-shadow1">
				<nav class="limiter-menu-desktop container">
					
					<!-- Logo desktop -->		
					<a href="#" class="logo">
						<img src="{% static '/images/icons/logo-01.png' %}" alt="IMG-LOGO">
					</a>

					<!-- Menu desktop -->
					<div class="menu-desktop">
						<ul class="main-menu">
							<li>
								<a href="{% url 'home' %}">Home</a>
								
							</li>

							<li class="active-menu">
								<a href="{% url 'productlist' %}">Products</a>
							</li>

							<li class="label1" data-label1="hot">
								<a href="shoping-cart.html">Deals</a>
							</li>

							<li>
								<a href="blog.html">Blog</a>
							</li>

							<li>
								<a href="about.html">About</a>
							</li>

							<li>
								<a href="contact.html">Contact</a>
							</li>
						</ul>
					</div>	

					<!-- Icon header -->
					<div class="wrap-icon-header flex-w flex-r-m">
						<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
							<i class="zmdi zmdi-search"></i>
						</div>

						<a href="{% url 'cart' %}"  class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11  js-show-cart" >
							<i class="zmdi zmdi-shopping-cart"></i>
						</a>

						<a href="{% url 'wishlistview' %}" class="icon-header-item cl2 trans-04 p-l-22 p-r-11 " >
							{% comment %}  icon-header-noti {% endcomment %}
							<i class="zmdi zmdi-favorite-outline"></i>
						</a>
					</div>
				</nav>
			</div>	
		</div>
  </header>

		<!-- Header Mobile -->
		<div class="wrap-header-mobile">
			<!-- Logo moblie -->		
			<div class="logo-mobile">
				<a href="index.html"><img src="{% static '/images/icons/logo-01.png' %}" alt="IMG-LOGO"></a>
			</div>

			<!-- Icon header -->
			<div class="wrap-icon-header flex-w flex-r-m m-r-15">
				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 js-show-modal-search">
					<i class="zmdi zmdi-search"></i>
				</div>

				<div class="icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti js-show-cart" data-notify="2">
					<i class="zmdi zmdi-shopping-cart"></i>
				</div>

				<a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-r-11 p-l-10 icon-header-noti" data-notify="0">
					<i class="zmdi zmdi-favorite-outline"></i>
				</a>
			</div>

			<!-- Button show menu -->
			<div class="btn-show-menu-mobile hamburger hamburger--squeeze">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</div>
		</div>


		<!-- Menu Mobile -->
		<div class="menu-mobile">
			<ul class="topbar-mobile">
				<li>
					<div class="left-top-bar">
						Free shipping for standard order over $100
					</div>
				</li>

				<li>
					<div class="right-top-bar flex-w h-full">
						<a href="#" class="flex-c-m p-lr-10 trans-04">
							Help & FAQs
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							My Account
						</a>

						<a href="#" class="flex-c-m p-lr-10 trans-04">
							logout
						</a>

						
					</div>
				</li>
			</ul>

			<ul class="main-menu-m">
				<li>
					<a href=" {% url 'home' %}">Home</a>
				
					<span class="arrow-main-menu-m">
						<i class="fa fa-angle-right" aria-hidden="true"></i>
					</span>
				</li>

				<li>
					<a href=" {% url 'productlist' %}">Shop</a>
				</li>

				<li>
					<a href="shoping-cart.html" class="label1 rs1" data-label1="hot">Features</a>
				</li>

				<li>
					<a href="blog.html">Blog</a>
				</li>

				<li>
					<a href="about.html">About</a>
				</li>

				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		<div class="container">
			<div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
				<a href= "{% url 'profile' %}"  class="stext-109 cl8 hov-cl1 trans-04">
					Profile
					<i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
				</a>
	
				<span class="stext-109 cl4">
					Username:{{current_user.name}}--user email:{{current_user.email}}
				</span>
			</div>
		</div>
    <div class="container">
			<div class="row">
				<div class="col-md-2">
					<img src="{% static '/images/profile.webp' %}" alt="IMG-LOGO" style="width: 100%;">
					<!-- Add buttons at the bottom of the image -->
					<div class="mt-3">
						<a href="{% url "orderhistory" %}" class="btn btn-primary btn-block">My Orders</a>
					</div>
					<div class="mt-3">
						<a href="{% url "profile" %}" class="btn btn-primary btn-block">Delivery Address</a>
					</div>
				</div>
				<div class="col-md-7">
					<!-- Order history content here -->
					{% if user.is_authenticated %}
					<div class="border shadow mb-2 p-3" style="width: 1000px;">
						<div class="h6 text-body-secondary">
							<span class="badge bg-secondary"></span> Your Address
						</div>
						<div class="d-flex justify-content-end mb-3">
							<button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModalCenter">
								Add New Address
							</button>
							
							<!-- Modal -->
							<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" name="productmodel">
								<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
									<!-- Added modal-lg class for larger width -->
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="exampleModalLongTitle">Add User Details</h5>
											<button type="button" class="close" data-dismiss="modal" aria-label="Close">
												<span aria-hidden="true">&times;</span>
											</button>
										</div>
										<div class="modal-body" style="overflow: hidden;">
											<form action="." method="post" enctype="multipart/form-data">
												{% csrf_token %}
												<div class="mb-3">
													<label for="UserName" class="form-label">Name</label>
													<input type="text" class="form-control" id="ProductName" name="name" required>
												</div>
					
												<div class="row">
													<div class="col-md-6 mb-3">
														<select class="form-control mb-3" name="gender">
															<option selected disabled>Gender</option>
															<option value="Male">Male</option>
															<option value="Female">Female</option>
														</select>
													</div>
													<div class="col-md-6 mb-3">
														<label for="mobile" class="form-label">Mobile Number</label>
														<input type="text" class="form-control" id="ProductName" name="mobile" required>
													</div>
												</div>
					
												<div class="row">
													<div class="col-md-6 mb-3">
														<select class="form-control mb-4" name="address_type">
															<option selected disabled>Address Type</option>
															<option value="office">Office</option>
															<option value="house">House</option>
														</select>
													</div>
													<div class="col-md-6 mb-3">
														<label for="place" class="form-label">Place</label>
														<input type="text" class="form-control" id="Place" name="place" required>
													</div>
												</div>
					
												<div class="mb-3">
													<label for="address" class="form-label">Address</label>
													<input type="text" class="form-control" id="subcategoryName" name="address" required>
												</div>
					
												<div class="row">
													<div class="col-md-6 mb-3">
														<label for="landmark" class="form-label">Landmark</label>
														<input type="text" class="form-control" id="landmark" name="landmark" required>
													</div>
													<div class="col-md-6 mb-3">
														<label for="pincodeInput" class="form-label">Pincode</label>
														<input type="text" class="form-control" id="pincode" name="pincode" required>
														<button id="fetchButton">get</button>
													</div>
													
												</div>
												<div class="row" id="pincodeResult">
												</div>
											
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
													<button type="submit" class="btn btn-success">ADD</button>
												</div>
											</form>
										</div>
									</div>
									
								</div>
								
							</div>
						</div>
						{% for address in user_data %}

						<div class="border shadow mb-2 p-3">
							<strong>Address{{forloop.counter}}: </strong>
							<strong>Name:</strong> {{ address.name }},
							<strong>Gender:</strong> {{ address.gender }},
							<strong>Mobile:</strong> {{ address.mobile }},
							<strong>Address Type:</strong> {{ address.address_type }},
							<strong>Place:</strong> {{ address.place }},
							<strong>Address:</strong> {{ address.address }},
							<strong>Landmark:</strong> {{ address.landmark }}
						</div>
						{% endfor %}
						</div>
					</div>
					
			
			 
				
				
		
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		
    

	
		

	<!-- Footer -->
	<footer class="bg3 p-t-75 p-b-32">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Categories
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Women
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Men
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								kids
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Watches
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Help
					</h4>

					<ul>
						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Track Order
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Returns 
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								Shipping
							</a>
						</li>

						<li class="p-b-10">
							<a href="#" class="stext-107 cl7 hov-cl1 trans-04">
								FAQs
							</a>
						</li>
					</ul>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						GET IN TOUCH
					</h4>

					<p class="stext-107 cl7 size-201">
						Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
					</p>

					<div class="p-t-27">
						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-facebook"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-instagram"></i>
						</a>

						<a href="#" class="fs-18 cl7 hov-cl1 trans-04 m-r-16">
							<i class="fa fa-pinterest-p"></i>
						</a>
					</div>
				</div>

				<div class="col-sm-6 col-lg-3 p-b-50">
					<h4 class="stext-301 cl0 p-b-30">
						Newsletter
					</h4>

					<form>
						<div class="wrap-input1 w-full p-b-4">
							<input class="input1 bg-none plh1 stext-107 cl7" type="text" name="email" placeholder="timebeat@example.com">
							<div class="focus-input1 trans-04"></div>
						</div>

						<div class="p-t-18">
							<button class="flex-c-m stext-101 cl0 size-103 bg1 bor1 hov-btn2 p-lr-15 trans-04">
								Subscribe
							</button>
						</div>
					</form>
				</div>
			</div>

			<div class="p-t-40">
				<div class="flex-c-m flex-w p-b-18">
					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-01.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-02.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-03.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-04.png' %}" alt="ICON-PAY">
					</a>

					<a href="#" class="m-all-1">
						<img src="{% static '/images/icons/icon-pay-05.png' %}" alt="ICON-PAY">
					</a>
				</div>

				<p class="stext-107 cl6 txt-center">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

				</p>
			</div>
		</div>
	</footer>


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>


							<div class="flex-w flex-m p-l-100 p-t-40 respon7">
								<div class="flex-m bor9 p-r-10 m-r-11">
									<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
										<i class="zmdi zmdi-favorite"></i>
									</a>
								</div>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
									<i class="fa fa-facebook"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
									<i class="fa fa-twitter"></i>
								</a>

								<a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
									<i class="fa fa-google-plus"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  <script>
		document.addEventListener('DOMContentLoaded', function () {
				const pincodeInput = document.getElementById('pincodeInput');
				const fetchButton = document.getElementById('fetchButton');
				const pincodeResultDiv = document.getElementById('pincodeResult');

				fetchButton.addEventListener('click', function () {
						const pincode = pincodeInput.value;

						// Clear previous results
						pincodeResultDiv.innerHTML = '';

						// Check if the pincode is not empty
						if (pincode.trim() === '') {
								pincodeResultDiv.innerText = 'Please enter a pincode.';
								return;
						}

						// Construct the API endpoint with the entered pincode
						const apiEndpoint = `https://api.postalpincode.in/pincode/${pincode}`;

						// Make an API request to fetch data based on the pincode
						fetch(apiEndpoint)
								.then(response => {
										if (!response.ok) {
												throw new Error('Network response was not ok');
										}
										return response.json();
								})
								.then(data => {
										// Display the fetched data
										if (data && data.length > 0 && data[0].Status === 'Success') {
												const postalData = data[0].PostOffice[0];
												pincodeResultDiv.innerHTML = `<h2>Pincode Details:</h2>
														<p><strong>Post Office:</strong> ${postalData.Name}</p>
														<p><strong>District:</strong> ${postalData.District}</p>
														<p><strong>State:</strong> ${postalData.State}</p>`;
										} else {
												pincodeResultDiv.innerText = 'Pincode not found or API error.';
										}
								})
								.catch(error => {
										console.error('Error:', error);
										pincodeResultDiv.innerText = 'Error fetching data. Please try again later.';
								});
				});
		});
</script>
<!--===============================================================================================-->	
	<script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/select2/select2.min.js' %}"></script>
	<script>
		$(".js-select2").each(function(){
			$(this).select2({
				minimumResultsForSearch: 20,
				dropdownParent: $(this).next('.dropDownSelect2')
			});
		})
	</script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static '/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/slick/slick.min.js' %}"></script>
	<script src="{% static '/js/slick-custom.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/parallax100/parallax100.js' %}"></script>
	<script>
        $('.parallax100').parallax100();
	</script>
<!--===============================================================================================-->
	<script src="{% static '/vendor/MagnificPopup/jquery.magnific-popup.min.js' %}"></script>
	<script>
		$('.gallery-lb').each(function() { // the containers for all your galleries
			$(this).magnificPopup({
		        delegate: 'a', // the selector for gallery item
		        type: 'image',
		        gallery: {
		        	enabled:true
		        },
		        mainClass: 'mfp-fade'
		    });
		});
	</script>
<!--===============================================================================================-->
	<script src="{% static '/images/product-04.jpg' %}"></script>

	<script src="{% static '/vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
	<script>
		$('.js-pscroll').each(function(){
			$(this).css('position','relative');
			$(this).css('overflow','hidden');
			var ps = new PerfectScrollbar(this, {
				wheelSpeed: 1,
				scrollingThreshold: 1000,
				wheelPropagation: false,
			});

			$(window).on('resize', function(){
				ps.update();
			})
		});
	</script>
	
<!--===============================================================================================-->
	<script src="{% static '/js/main.js' %}"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</body>
</html>